name: Deploy Workflow
 
on:
  workflow_dispatch:
    inputs:
      trigger_job1:
     #   description: 'Trigger Job 1'
        default: true
        
  workflow_call:
    inputs:
      trigger_job1:
        default: false
        type: boolean
   
      environment:
        description: 'Choose the env to deploy (Dev or Prod)?'
        required: true
        type: string
       
jobs:
  Deploy-Dev:
    runs-on: ubuntu-latest
    environment: Dev
    if: ${{ github.event.inputs.trigger_job1 == 'true' }}
    steps:
      - name: Job 1
        run: echo "Running Job 1 for dev environment"
  Deploy-Prod:
    runs-on: ubuntu-latest
    needs: Deploy-Dev
    environment: Prod
    if: ${{ github.event.inputs.trigger_job1 == 'true' }}
    steps:
      - name: Job 1
        run: echo "Running Job 1 for Prod environment"
 
  Deploy-Caller-Dev:
    runs-on: ubuntu-latest
    environment: Dev
    if: ${{ github.event.inputs.trigger_job1 !='true'  && github.event.inputs.environment == 'Dev' }}
    steps:
      - name: Job 2
        run: echo "Running Job 2 for caller-dev environment"

  Deploy-Caller-Prod:
    runs-on: ubuntu-latest
    environment: Prod
    if: ${{ github.event.inputs.trigger_job1 !='true' && github.event.inputs.environment == 'Prod' }}
    steps:
      - name: Job 2
        run: echo "Running Job 2 for caller-Prod environment"

  
    
